@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import "tailwindcss";

@theme {
  --color-frondaBiege: #f2f0e6;
  --color-frondaDarkGreen: #031602;
  --color-frondaSageGreen: #a8cbb7;
  --color-frondaGold: #e1b14d;
  --color-frondaOrange: #d97c4e;
  --color-frondaGray: #f2f0e6;
  --color-frondaBorderGray: #031602;

  --font-primary: "Cormorant Garamond", "serif";
  --font-secondary: "EB Garamond", "serif";
}
